/* font integration  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins&display=swap');
/* css variables  */
:root {
  --primaryCol: #45cdb5;
  --secondaryCol: #df445c;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainSpacing: 0.25rem;
  --mainTransition: all 0.3s linear;
  --lightShadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.25);
  --darkShadow: 4px 10px 6px 0 rgba(0, 0, 0, 0.5);
}
/* reset  */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:700');
body {
  margin: 0;
  padding: 0;
  background: #eef6f0;
}

.element::-webkit-scrollbar {
  width: 0 !important;
}

.section {
  padding: 5rem 0;
}
.header_section {
  display: flex;
  padding-top: 3rem;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}
.blob_section {
  display: block;
  height: 50%;
  padding-top: 20rem;
  width: 100vw;
}

.hero_text {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 5.5rem;
  padding-left: 4rem;
  line-height: 1.5;
  font-weight: bold;
}

.hero_section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.hero_logo {
  width: 20rem;
  padding-top: 2rem;
}

.hero_phone {
  position: relative;
  top: 0;
  right: 0;
  z-index: 20;
  padding-right: 8rem;
  margin-bottom: 10rem;
}

.subtle_text {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  line-height: 1.5;
  font-weight: bold;
  top: 80%;
  left: 41%;
}
/* END OF HERO */
.blob_section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.sponsor_text {
  position: absolute;
  color: white !important;
  font-size: 4rem;
  top: 113%;
  right: 73%;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  padding-left: 40px;
  cursor: pointer;
  z-index: 10;
}

.sponsor_text2 {
  position: absolute;
  color: white !important;
  font-size: 4rem;
  top: 113%;
  left: 70%;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  padding-left: 40px;
  cursor: pointer;
  z-index: 10;
}

.blob {
  position: absolute;
  top: 75%;
  right: 60%;
  fill: #023f92;
  z-index: 7;
  transform-origin: 50% 50%;
  width: 50rem;
}
.main_link {
  text-decoration: none;
  color: inherit;
}
.blob2 {
  position: absolute;
  top: 75%;
  left: 60%;
  fill: #023f92;
  z-index: 7;
  transform-origin: 50% 50%;
  width: 50rem;
}

.blob:hover {
  animation: move 5s ease-in-out forwards;
  transform-origin: 50% 50%;
}
.blob2:hover {
  animation: move 5s ease-in-out forwards;
  transform-origin: 50% 50%;
}
.sponsor_text:hover ~ .blob {
  animation: move 5s ease-in-out forwards;
  transform-origin: 50% 50%;
}
.sponsor_text2:hover ~ .blob2 {
  animation: move 5s ease-in-out forwards;
  transform-origin: 50% 50%;
}

@keyframes move {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.fill_animation {
  pointer-events: none;
  animation: fill 2s ease-in-out 1s forwards;
}

/* .spon_textdis {
  display: none;
} */

@keyframes fill {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
/* FOOTER */

/* footer */
.footer {
  background-color: #e6b2f0;
  margin-top: 10rem;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.tab {
  color: var(--mainBlack);
  font-family: 'Poppins';
  margin-right: 1rem;
  font-size: 2rem;
  line-height: 1;
  font-weight: bolder;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
  cursor: pointer;
  line-height: 3rem;
  text-decoration: none;
}

.tab:hover {
  color: var(--primaryCol);
}

.footer-bar {
  display: flex;
  justify-content: flex-end;
}
.tab-bar,
.icons {
  margin-top: 1.5rem;
  word-spacing: 3rem;
  margin-left: 2rem;
  margin-left: 10rem;
}
.footer-center {
  display: flex;
  height: 10rem;

  flex-wrap: wrap;
  align-items: center;
}
.icon {
  color: var(--mainBlack);
  margin-right: 1rem;
  font-size: 2rem;
  transition: var(--mainTransition);
}
.icon:hover {
  color: var(--primaryCol);
  transform: translateY(-10px);
}

.footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mainBlack);
  text-align: center;
  letter-spacing: var(--mainSpacing);
}
/* end of footer */
