/* font integration  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins&display=swap');
/* css variables  */
:root {
  --primaryCol: #45cdb5;
  --secondaryCol: #df445c;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainSpacing: 0.25rem;
  --mainTransition: all 0.3s linear;
  --lightShadow: 2px 5px 3px 0 rgba(0, 0, 0, 0.25);
  --darkShadow: 4px 10px 6px 0 rgba(0, 0, 0, 0.5);
}
/* reset  */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:700');
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #eef6f0;
}

.sponsor_text {
  position: absolute;
  color: white;
  font-size: 4rem;
  top: 60%;
  right: 69%;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  padding-left: 40px;
  cursor: pointer;
}
.sponsor_text2 {
  position: absolute;
  color: white;
  font-size: 4rem;
  top: 60%;
  right: 5%;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  padding-left: 40px;
  cursor: pointer;
}

.hero_section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero_logo {
  width: 200px;
  padding-top: 2rem;
}

.blob {
  position: absolute;
  top: 25%;
  right: 86%;
  fill: #023f92;
  z-index: -1;
  transform-origin: 50% 50%;
  width: 20rem;
}
.blob2 {
  position: absolute;
  top: 30%;
  left: 60%;
  fill: #023f92;
  z-index: -1;
  transform-origin: 50% 50%;
  width: 30rem;
}
.blob_size {
  width: 50rem;
}

.blob:hover {
  animation: move 5s ease-in-out infinite;
  transform-origin: 50% 50%;
}
.blob2:hover {
  animation: move 5s ease-in-out infinite;
  transform-origin: 50% 50%;
}
.sponsor_text:hover ~ .blob {
  animation: move 5s ease-in-out infinite;
  transform-origin: 50% 50%;
}
.sponsor_text2:hover ~ .blob2 {
  animation: move 5s ease-in-out infinite;
  transform-origin: 50% 50%;
}
@keyframes move {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
